{% extends 'base.html' %}
{% block title %}Who’s Joining?{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/choose.css') }}">
{% endblock %}

{% block body %}
<div class="page-container full-screen">

  <section class="choose-card">

    <header>
      <h1>Who’s Joining?</h1>
      <p>Tap your name to continue</p>
    </header>

    <div class="options-grid">
      {% for name in guests.keys() %}
        <a href="{{ url_for('view_menu', name=name) }}"
            class="option-btn">
          {{ name }}
        </a>
      {% endfor %}
    </div>

  </section>

</div>
{% endblock %}